@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

@font-face {
  font-family: 'Lucida';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/lucida-handwriting.ttf') format('truetype');
}

.font-childlike {
  font-family: 'Margarine', serif !important;
  font-weight: 400;
  font-style: normal;

  * {
    font-family: 'Margarine', serif !important;
    font-weight: 400;
    font-style: normal;
  }
}

html {
  scroll-behavior: smooth;
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-quicksand;
  font-weight: $weight-regular;
  @include rem(font-size, $font-size-root);
  transition: all ease 0.64s;
  text-wrap: balance;
}

body {
  background-color: $color-light-blue;
  color: $color-shakespear-blue;

  width: 100vw;
  overflow-x: hidden;

  a,
  button {
    cursor: pointer;
    color: $color-white;
  }
}

//scrollbar

* {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: $color-shakespear-blue transparent;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }
  P &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-light-blue;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  /* Optional: Hover state for the thumb */
  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-shakespear-blue;
  }

  /* Hide horizontal scrollbar specifically */
  &::-webkit-scrollbar-horizontal {
    display: none;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    display: none;
  }
}
