@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;800&display=swap');

@font-face {
  font-family: 'Lucida';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/lucida-handwriting.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-quicksand;
  font-weight: $weight-regular;
  @include rem(font-size, $font-size-root);
  transition: all ease 0.64s;
  cursor: none !important;
}

body {
  background-color: $color-light-blue;
  color: $color-shakespear-blue;
}
